<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Portfolio Example with HTML Templates</title>

    <!-- Stylesheet references -->
    <link rel="stylesheet" href="../public/styles/site.css">
    <link rel="stylesheet" href="../public/styles/nav.css">

    <!-- JavaScript references -->
    <script type=module src="./layouts/header.js"></script>
    <script type=module src="./layouts/footer.js"></script>
</head>
<body>

<header-component></header-component>

<div class="assign-container">
    <h1 class="app-header">ORDs</h1>
    <div class="assign-content">
        <div class="card">
            <div class="card-title">
                NodeShopper
            </div>

            <div class="card-content">
                <p>
                    <img src="../public/images/nodeshopper.png" width="100%" height="100%"></a>
                </p>
            </div>

        </div>
        <div class="card">
            <div class="card-title">
                NodeTech
            </div>

            <div class="card-content">
                <p>
                    <img src="../public/images/nodetech.png" width="100%" height="100%"></a>
                </p>
            </div>

        </div>
    </div>
</div>

<footer-component></footer-component>

</body>
</html>