<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Portfolio Example with HTML Templates</title>

    <!-- Stylesheet references -->
    <link rel="stylesheet" href="../public/styles/site.css">
    <link rel="stylesheet" href="../public/styles/projects.css">
    <link rel="stylesheet" href="../public/styles/nav.css">

    <!-- JavaScript references -->
    <script type=module src="./layouts/header.js"></script>
    <script type=module src="./layouts/footer.js"></script>

</head>
<body>

<header-component></header-component>

<div class="assign-container">
    <h1 class="app-header">Projects</h1>
            <div class="card-title">
                School Projects
            </div>

            <div class="card-content" id="projects-container">
                <div class="card">
                    <div class="card-title">Web 231</div>
                    <div class="card-content">
                        <a href="#"><img src="../public/images/college.jpg"></a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-title">Web 330</div>
                    <div class="card-content">
                        <a href="https://jharp949.github.io/web-330/" target="_blank"><img src="../public/images/keyboard.jpg"></a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-title">Web 420</div>
                    <div class="card-content">
                        <a href="./apis.html"><img src="../public/images/terminal.jpg"></a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-title">Composer App</div>
                    <div class="card-content">
                        <a href="#"><img src="../public/images/composer.jpg"></a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-title">GPA Calculator</div>
                    <div class="card-content">
                        <a href="#"><img src="../public/images/calc.jpg"></a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-title">In-N-Out Books</div>
                    <div class="card-content">
                        <a href="#"><img src="../public/images/books.jpg"></a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-title">nodebucket.</div>
                    <div class="card-content">
                        <a href="#"><img src="../public/images/nodebucket.jpg"></a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-title">Bob's Computer Repair Shop</div>
                    <div class="card-content">
                        <a href=""><img src="../public/images/comp-repair.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <a href="index.html" class="return-home">Return</a>
    </div>
</div>

<footer-component></footer-component>
</body>
</html>